
;; !  | mandatory - this modifier HAS to be pressed for binding to be valid
;; !! | mandatory command + control + optional + shift (hyper)
;; #  | optional - binding will be valid also if a specified modifier is pressed simultaniously
;; ## | optional any - binding will be valid also if another modifier is pressed simultaniously
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock

;; Define different kinds of keyboards
{
:devices {
      ;; Internal MacBook Pro 16" 2021 keyboard
      :kb-macbook [
            {:vendor_id 1452,   
            :product_id 832 }
      ]

      ;; Logitech K860 Ergo keyboard
      :kb-logitech-k860 [
            {:vendor_id 1133,
            :product_id 45913 }
      ]
}

;; Make key bindings valid only in specified applications
:applications {
      :remote-desktop ["com.microsoft.rdc.macos"]
}    

:main [
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Bindings for specific keyboards
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

      ; MacBook Pro internal keyboard
      {:des "Function to Left Command" :rules 
            [:kb-macbook
            [:##fn :left_command]]  
      }

      {:des "Left Control to Right Control" :rules 
            [:kb-macbook
            [:##left_control :right_control]]  
      }

      {:des "Left Command to Left Option" :rules 
            [:kb-macbook
            [:##left_command :left_option]]  
      }

      {:des "Right Command to Right Option" :rules 
            [:kb-macbook
            [:##right_command :right_option]]  
      }

      {:des "Right Option to FN" :rules 
            [:kb-macbook
            [:right_option :fn]]  
      }

      {:des "Function + ^ to Page Up" :rules 
            [:kb-macbook
            [:!F##close_bracket :page_up]]  
      }

      {:des "Function + ' to Page Down" :rules 
            [:kb-macbook
            [:!F##backslash :page_down]]  
      }

    
      ; Logitech K860
      {:des "Left Control to Command" :rules 
            [:kb-logitech-k860
            [:##left_control :left_command]]  
      }

      {:des "Left Option to Right Control" :rules 
            [:kb-logitech-k860
            [:##left_option :right_control]]  
      }

      {:des "Left Command to Left Option" :rules 
            [:kb-logitech-k860
            [:##left_command :left_option]] 
      }

      {:des "Right Command to Right Option" :rules
            [:kb-logitech-k860
            [:##right_command :right_option]]  
      }

      {:des "Right Option to Right Command" :rules
            [:kb-logitech-k860
            [:##right_option :right_command]]  
      }

      {:des "Media key with 3 squares to mission control" :rules 
            [:kb-logitech-k860
            [:!Cup_arrow :!Tup_arrow]] 
      }

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Media Control
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "Left Control + p to play or pause media" :rules 
          [[:!Tp "osascript ~/dev/osandell/scripts-osx/browser-media-control/udemy-youtube-play-pause.scpt"]]
      }
      {:des "Left Control + Left to rewind media" :rules 
          [[:!Tleft_arrow "osascript ~/dev/osandell/scripts-osx/browser-media-control/udemy-youtube-rewind.scpt"]
          [:!TWh "osascript ~/dev/osandell/scripts-osx/browser-media-control/udemy-youtube-rewind.scpt"]]
      }
      {:des "Left Control + right to fast forward media" :rules 
          [[:!Tright_arrow "osascript ~/dev/osandell/scripts-osx/browser-media-control/udemy-youtube-forward.scpt"]
          [:!TWl "osascript ~/dev/osandell/scripts-osx/browser-media-control/udemy-youtube-forward.scpt"]]
      }

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Focus To-Do
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "Left Control + Left Option + p to play / pause in Focus-to-do" :rules 
            [[:!TOp "osascript ~/dev/osandell/scripts-osx/focus-to-do/pause.scpt"]]
      }
      {:des "Left Control + Left Option + n to skip pause in Focus-to-do" :rules 
            [[:!TOn "osascript ~/dev/osandell/scripts-osx/focus-to-do/next.scpt"]]
      }

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Notification center 
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "Left Control + Left Option + x to close all notifications" :rules 
            [[:!TOx "osascript ~/dev/osandell/scripts-osx/close-notifications/close-notifications.scpt"]]
      }
 
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Remote Desktop
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "Make modifier keys work properly on remote desktop"
            :rules [ 
            :remote-desktop
            [:left_command :left_control]
            [:left_control :left_command]
      ]}

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Misc
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "Caps Lock to Left Control if holding, Esc if pressed alone" :rules 
            [[:##caps_lock :left_control nil {:alone :escape}]]
      }

      {:des "Esc to Caps Lock" :rules
            [[:##escape :caps_lock]]
      }

      {:des "Left Control + space to go to end of the line" :rules 
            [[:!Tspacebar :end]]
      }

      {:des "Option + space to step to the right" :rules 
            [[:!Ospacebar :right_arrow]
            [:!Espacebar :right_arrow]]
      }

      {:des "§ to Delete" :rules 
            [[:##non_us_backslash :delete_forward]]
      }

      {:des "Windows style redo" :rules 
            [[:!Cy :!SCz]]
      }
      
      {:des "Windows style alt-tab app switching" :rules 
            [[:!O##tab :!Ctab]] 
      }

      {:des "Make the - key mapping correctly when holding Left Shift + Left Option (Ukelele didn't work)" :rules 
            [[:!SOslash :slash]]
      }

      {:des "Make enter unblocked when holding Left Shift + Left Option" :rules 
            [[:!SOreturn_or_enter :return_or_enter]]
      }

      {:des "Show Launchpad with Command-Tab" :rules 
            [[:!C##tab :!Otab]] 
      }

      {:des "Move tabs left / right with Control + Shift + h / l" :rules
            [[:!TSh :!COleft_arrow],
            [:!TSl :!COright_arrow]]
      }

      {:des "Left Shift + Left Option + d to print today's date" :rules 
            [[:!SOd "osascript -e '
            set {year:yr, month:mn, day:dy} to (current date)
            set dateString to (yr as text) & \"-\" & pad(mn as integer) & \"-\" & pad(dy)

            on pad(v)
            	return text -2 thru -1 of ((v + 100) as text)
            end pad
            
            tell application \"System Events\"
            keystroke dateString 
            end tell
            '"]]
      }

      {:des "Left Command + < to swap windows within app" :rules 
            [[:!Tnon_us_backslash :!Cgrave_accent_and_tilde]] 
      } 

      {:des "Right Control + h / j / k / l to arrow keys" :rules
            [[:!W##h :left_arrow]
            [:!W##j :down_arrow]
            [:!W##k :up_arrow]
            [:!W##l :right_arrow]]
      }


]}
