
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{
      ;; Define different kinds of keyboards
:devices {
    :kb-apple [                                            ;; Internal MacBook Pro 16" 2021 keyboard

        {:vendor_id 1452,   
        :product_id 832 }                           
    ]
    :kb-logitech-k860 [                                     ;; Logitech K860 Ergo keyboard
        {:vendor_id 1133,
         :product_id 45913 }
      ]

} ;; devices


:applications {
      :remote-desktop ["com.microsoft.rdc.macos"]
}    


:main [
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Set PC style keyboard layout
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "option 0 to option shift 9 (})" :rules
            [[:!O0 :!OS9]
            [:!E0 :!OS9]]      
      }
      {:des "option 7 to option shift 8 ({)" :rules 
            [[:!O7 :!OS8] 
            [:!E7 :!OS8]]      
      }
      {:des "option hyphen to option shift 7 (backslash)" :rules 
            [[:!Ohyphen :!OS7]
            [:!Ehyphen :!OS7]]      
      }
      {:des "option grave_accent_and_tilde to option 7 (|)" :rules 
            [[:!Ograve_accent_and_tilde :!O7]
            [:!Egrave_accent_and_tilde :!O7]]      
      }
      ; This is to make the media key for showing mission control work on Logitech K860
      {:des "left command up arrow to left control up arrow" :rules 
            [[:!Cup_arrow :!Tup_arrow]] 
      }
      ; This is to make the media key search work on Logitech K860
      {:des "left option spacebar to left command spacebar" :rules 
            [[:!Ospacebar :!Cspacebar]]
      }
      ; Windows style redo
      {:des "left_command y to left_command left_shift z" :rules 
            [[:!Cy :!SCz]]  
      }
      ; Windows style app switching
      {:des "left option tab to left command tab" :rules 
            [[:!O##tab :!Ctab]] 
      }
      {:des "left command tab to left option tab" :rules 
            [[:!C##tab :!Otab]] 
      }

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Media Control
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "left control p to play_or_pause" :rules 
          [[:!Tp "osascript ~/scripts/browser-media-control/udemy-youtube-play-pause.scpt"]]
      }
      {:des "left control left to rewind" :rules 
          [[:!Tleft_arrow "osascript ~/scripts/browser-media-control/udemy-youtube-rewind.scpt"]
          [:!TWh "osascript ~/scripts/browser-media-control/udemy-youtube-rewind.scpt"]]
      }
      {:des "left control right to fast forward" :rules 
          [[:!Tright_arrow "osascript ~/scripts/browser-media-control/udemy-youtube-forward.scpt"]
          [:!TWl "osascript ~/scripts/browser-media-control/udemy-youtube-forward.scpt"]]
      }

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Focus To-Do
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "left_shift left_option p to play/pause in Focus-to-do" :rules 
            [[:!SOp "osascript ~/scripts/focus-to-do/pause.scpt"]]
      }
      {:des "left_shift left_option n to skip pause in Focus-to-do" :rules 
            [[:!SOn "osascript ~/scripts/focus-to-do/next.scpt"]]
      }

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Remote Desktop
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des "make modifier keys work properly on remote desktop"
            :rules [ 
            :remote-desktop
            [:left_command :left_control]
            [:left_control :left_command]
      ]}

      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      ;; Misc
      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
      {:des   "caps lock to control / alone: esc" :rules 
            [[:##caps_lock :left_control nil {:alone :escape}]]
      }


      {:des   "left control (caps lock) space to end" :rules 
            [[:!Tspacebar :end]]
      }

      {:des "esc to caps lock" :rules
            [[:##escape :caps_lock]]
      }

      {:des "move tabs left / right with control shift h / l" :rules
            [[:!TSh :!COleft_arrow],
            [:!TSl :!COright_arrow]]
      }

      {:des "left_shift left_option d to print today's date" :rules 
            [[:!SOd "osascript -e '
            set {year:yr, month:mn, day:dy} to (current date)
            set dateString to (yr as text) & \"-\" & pad(mn as integer) & \"-\" & pad(dy)

            on pad(v)
            	return text -2 thru -1 of ((v + 100) as text)
            end pad
            
            tell application \"System Events\"
            keystroke dateString 
            end tell
            '"]]
      }

      {:des "left ctrl § to swap windows within app" :rules 
            [[:!Tnon_us_backslash :!Cgrave_accent_and_tilde]] 
      } 

      {:des "right control (psysical left win key) hjkl to arrow keys" :rules
            [[:!W##h :left_arrow]
            [:!W##j :down_arrow]
            [:!W##k :up_arrow]
            [:!W##l :right_arrow]]
      }
]}
